---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bienvenido a mi tienda.">
	<Header />
	<main>
		<h1>Bienvenido a mi tienda.</h1>
		<p>En esta tienda encontrarás productos de calidad a precios accesibles.</p>
	</main>
	<Footer />
</Layout>

<style>
	
</style>
